* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 500%;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
}
